.vscode/**
.vscode-test/**
.claude/**
.gitignore
.mcp.json
color-map.html
demo/**
extra/**
node_modules/**
plugins/**
scripts/**
terrazzo.config.*.mjs
terrazzo.shared.mjs
tokens/**
tokens.resolver.json
vsc-extension-quickstart.md
CLAUDE.md
*.vsix
